body {
	font-family: 'Ubuntu Condensed', sans-serif;	
}

h1 {
	font-size: 150%;
	font-weight: bolder;
};

p {
	font-size: 50em;
	font-weight: bold;
}

div.crystal {
	line-height: 150px;
}

#targetNumber, #playerTot {
	font-size: 300%;
	font-weight: bolder;
}

.jumbotron {
	background-image: url("../images/bg.jpg");
    background: transparent\9;
/*	opacity: 0.5;*/
/*	background-size: cover;*/
}