body {
	font-family: 'Ubuntu Condensed', sans-serif;	
}

div.crystal {
	line-height: 150px;
}

#targetNumber, #playerTot, #youwon, #gameTitla {
	font-size: 300%;
	font-weight: bolder;
}

.jumbotron {
	background-image: url("../images/bg.jpg");
}